@use '../../assets/styles/variable.scss' as var;


.container-sofa {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 100px;

    .wrapper-sofa {
        p {
            margin-bottom: -3px;
            font-size: 30px;
        }

        .dash {
            background-color: black;
            width: 100%;
            height: 1px;
        }

        .banner-sofa {
            margin-top: 30px;


            img {
                width: 100%;
                border-radius: 10px;
            }

        }

        .list-product-sofa {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            margin-top: 20px;

            .sofa-item {
                background-color: #fff;
                padding: 20px;
                text-align: center;
                transition: transform .3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    width: 80%;
                }

                p {
                    margin-top: -10px;
                    font-size: 15px;
                    text-align: center;

                }

                .price {
                    color: red;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }

        .more-sofa {
            text-align: center;
            margin-top: 70px;

            button {
                color: #fff;
                padding: 8px;
                background-color: var.$primary_color;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                transform: scale(1.05)
            }


        }
    }
}