.container-product {
    margin-top: 50px;
    margin-bottom: 100px;

    .tile {
        font-size: 25px;
        text-align: center;
    }

    .img-product {
        margin-top: 50px;
        display: flex;
        gap: 10px;
        padding: 10px;
        justify-content: center;

        img {
            width: 350px;
            height: 250px;
        }
    }

    .space-product {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        p {
            cursor: pointer;
            padding: 5px 10px;
            border-bottom: 2px solid transparent;
            position: relative;
            transition: all 0.3s ease-in-out;

            &:hover,
            &.active {
                border-bottom: 2px solid #ff6600;
                font-weight: bold;
            }

            &:not(:last-child)::after {
                content: "|";
                position: absolute;
                right: -27px;
                color: gray;

            }
        }
    }
}